.vantagens-bg {
    background: var(--cor-12);
    --padding: 120px;
}

.vantagens {
    padding-block: var(--padding);
}

.vantagens h2 {
    margin-bottom: 60px;
}

.vantagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .vantagens-bg {
        --padding: 60px;
    }

    .vantagens h2 {
        margin-bottom: 40px;
    }

    .vantagens ul {
        gap: 20px;
    }
}